body{
    background: url(fondo1.jpg) ;
    background-size: cover;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: brightness(30%);
}

h1.l1{
    color: aqua;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p.l2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
p.l3{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}
h2.l4{
    color: aqua;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p.l5{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}
h3.l6{
    color: aqua;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p.l7{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}